<div class="container2">
  <div class="newevent-center">
    <h3>Where is going to be your event?</h3>
    <p>You can click the button below to use your current location or you can introduce it manually</p>
    <div id="map">
    </div>
    <button id="showMe" class="btn">Use My Location</button>
    <div id="locationList"></div>
    <br>


    <form action="/events/new" method="POST" enctype="multipart/form-data">

      <div class="input-field">

        <label for="title">Name of your event: </label>
        <input type="text" name="title" id="title">
      </div>

      <div class="input-field">

        <label for="date">Date: </label>
        <input type="date" name="date" min="2019-09-27">
      </div>

      <div class="input-field">

        <label for="content">Give a description of your event</label>
        <input type="text" name="content" id="content">
      </div>

      <div class="input-field">

        <label for="picName">Add a picture to your event:</label>
        <input type="file" name="picName" id="picName">

      </div>

      <div class="input-field">

        <label class="active" for="address">Address (Area and Street)</label>
        <textarea class="input_fields materialize-textarea" name="address" id="address" type="text"></textarea>

      </div>

      <div class="input-field">

        <label class="active" for="locality">Locality</label>
        <input class="input_fields" name="locality" id="locality" type="text">

      </div>

      <div class="input-field">

        <label class="active" for="city">City/District/Town</label>
        <input class="input_fields" name="city" id="city" type="text">

      </div>

      <div class="input-field">

        <label class="active" for="pin_code">Pin Code</label>
        <input class="input_fields" name="postalcode" id="postal_code" type="text">

      </div>

      <div class="input-field">

        <label class="active" for="State">State</label>
        <input class="input_fields" name="state" id="state" type="text">

      </div>
      <button class="createbtn btn-1">Ready for the party?</button>
    </form>
    {{#if message}}
    <p class="error-message">{{message}}</p>
    {{/if}}
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>