<div class="newevent">
<form action="/events/new" method="POST" enctype="multipart/form-data">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">
  <label for="content">Content</label>
  <input type="text" name="content" id="content">
  <input type="file" name="picName" id="picName">
  <button>Create</button>
</form>

{{#if message}}
  <p class="error-message">{{message}}</p>
{{/if}}
</div>