{{#if error}}
Your account hasn't been found. Please sign up.
<a href="/auth/signup">Sign up</a>
{{/if}}
{{#if user}}
Your account has been activated, please log in.
<a href="/auth/login">Log in</a>
{{/if}}