<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>Hola</h2>
{{#unless user}}
  Home page
  <div>
    <a href="/auth/google">Login With Google</a>
    <a href="/auth/facebook">Login with Facebook</a>
  </div>
{{/unless}}
