{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>Hola</h2> --}}

<div class="fondo">
  <h1>{{title}}</h1>
  <h4>Embers Pals was born to connect people around the world with what we love the most</h4>
  <div class='text2'>
    <h4>Light up a campfire and share great moments.</h4>
  </div>

  {{#unless user}}
  Home page
  <div>
    <a href="/auth/google">Login With Google</a>
    <a href="/auth/facebook">Login with Facebook</a>
  </div>
  {{/unless}}

  <div class="button">
    <a href="/auth/signup" class="button2">Go for it</a>
  </div>
</div>